// Pie de pagina del sitio Web
.pieDePagina{
    display: flex;                  /* sera del tipo flexible en filas que saltan en caso de ser necesario, centrado el contenido */
    justify-content: center;    
    flex-flow: row wrap;
    color: $blanco;
    padding: 1%;
    a{
        padding: 1%;
    }
    img{
        border-radius: 8px;
    }
    .logo{
        border-radius: 20% 20%;
        height: 70px;     
    }
    .face{
        border-radius: 50% 50%;
    }
    p{
        padding: 1%;
    }      
}