$gris: rgb(102, 101, 99);
$menuCatColor: #dbd7d7;
$blanco: #ffffff;
$negro: #000000;
$imagenDeFondo: "https://images.unsplash.com/photo-1510906594845-bc082582c8cc?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2044";
