//Pagina Acerca de Nosotros
.about{                             /* Estilo de la Pagina Acerca de Nosotros */
    color: $blanco;
    padding: 3%;
    text-align: center;
    background-image: linear-gradient(to bottom, #000000, #5a5555, #000000);
}